:root {
  --artwork-h1-font-size: 3vw;
  --artwork-h1-font-family: cabinet;
  --artwork-h1-font-weight: 500;
  --artwork-h1-line-height: 0.8;

  --artwork-body-font-family: inter;
  --artwork-body-font-size: 1.2vw;

  --artwork-screen-z-header: 10;
  --artwork-screen-z-panel-selected: 9;
  --artwork-screen-z-panel-caption: 1;
}

.artwork-screen {
  width: 100vw;
  background: rgba(0 0 0 / 70%);

  &__header {
    @include animations.use(animations.$fade-in);

    position: sticky;
    z-index: var(--artwork-screen-z-header);
    top: 0;
    margin-bottom: var(--space-3);

    .caption {
      --caption-word-delay: 0ms;
      --caption-word-duration: 0ms;
    }
  }

  &__content {
    @include easing(opacity);
    @include invisible-scroll(x);

    $shadow-radius: 4vw;

    scroll-behavior: smooth;

    width: 100vw;
    height: calc(50vh + $shadow-radius);
    padding: var(--space-gutter);
    padding-block: $shadow-radius;
    margin-block: -$shadow-radius;

    color: var(--color-black);

    .panel {
      @include animations.use(
        (
          name: artwork-screen-panel-appears,
          duration: var(--easing),
          easing: var(--easing-ease-back),
          stagger: (delay: 100ms, length: 5),
          fill-mode: both
        )
      );

      position: relative;

      > :is(article, figure) {
        @include easing((box-shadow, transform));

        flex-shrink: 0;

        max-width: 50vw;
        overflow: hidden;

        background: var(--color-white);
        border-radius: var(--border-radius-large);
        transform-origin: calc(100% * var(--gamepad-row-nindex)) bottom;
        box-shadow: 0 0 0 var(--color);
      }

      &.is-selected {
        z-index: var(--artwork-screen-z-panel-selected);

        > :is(article, figure) {
          transform: scale(1.1);
          box-shadow: 0 0 $shadow-radius var(--color);
        }
      }

      article {
        @include font(artwork-body);

        display: flex;
        flex-direction: column;
        gap: var(--space-gutter);
        width: 33vw;
        height: 100%;
        padding: var(--space-gutter);

        &.is-large {
          width: calc(var(--cols, 1) * 20vw + (var(--cols, 1) - 1) * var(--space-gutter));
          max-width: 90vw;
        }

        header {
          display: flex;
          gap: var(--space-gutter);
          padding: var(--space-0);
        }

        header h1 {
          @include font(artwork-h1);
          max-width: 70%;
          text-wrap: balance;
        }

        header .metas {
          margin-left: auto;
        }

        section.prose {
          flex: 1;
          padding: var(--space-0);
          overflow: hidden;
        }

        &.is-large section.prose {
          column-count: var(--cols, 1);
          column-fill: auto;
          column-gap: var(--space-gutter);
          overflow: hidden;
        }

        footer {
          display: flex;
          flex-wrap: wrap;
          gap: var(--space-0);
        }
      }

      figure {
        width: 100%;
        height: 100%;

        img, video {
          width: auto;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          max-width: 100vw;
        }

        figcaption {
          position: absolute;
          z-index: var(--artwork-screen-z-panel-caption);
          bottom: var(--space-gutter);
          left: var(--space-gutter);

          &:empty {
            display: none;
          }
        }
      }

      // Tags
      article footer span,
      figcaption {
        @include font('ui');
        padding: var(--ui-padding-container);
        background: var(--color);
        border-radius: var(--border-radius);
        box-shadow: 0 0 1vw rgba(0 0 0 / 10%);
      }
    }
  }

  &:has(.testimony.is-selected) &__content {
    opacity: 0.2;
  }

  &__testimonies {
    display: flex;
    flex-direction: column;
    gap: var(--space-gutter);
    padding: var(--space-gutter);
    box-shadow: var(--box-shadow-none) var(--color);

    .gamepad-row {
      @include animations.use(
        (
          preset: animations.$fade-in,
          stagger: (delay: 50ms, length: 50)
        )
      );
    }

    .gamepad-row .testimony {
      @include easing((opacity, box-shadow));

      &.is-selected {
        z-index: 1;
        box-shadow: var(--box-shadow) var(--color);
      }
    }

    &:has(.testimony.is-selected) .testimony:not(.is-selected) {
      opacity: 0.4;
    }
  }
}

@keyframes artwork-screen-panel-appears {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
