.home-screen {
  @include fade-in;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-gutter);
  height: 100vh;

  .gamepad-row {
    margin-top: 20vw;
  }

  &.is-leaving .gamepad-row > * {
    @include fade-out(var(--easing-fast));

    &.is-selected {
      transform: scale(2);
    }

    &:not(.is-selected) {
      @include stagger(100ms, 2);
    }
  }
}
