.home-screen {
  @include animations.fade-in;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-gutter);
  height: 100vh;

  .gamepad-row {
    gap: var(--space-gutter);
    margin-top: 20vw;

    > * {
      @include font('ui-big');
    }
  }

  &.is-leaving .gamepad-row > * {
    @include animations.fade-out(var(--easing-fast));

    &.is-selected {
      transform: scale(2);
    }

    &:not(.is-selected) {
      @include animations.stagger(100ms, 2);
    }
  }
}
