html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 0;
    background: transparent;
  }
}

body {
  @include font('body');
  color: var(--color-text);
  background: var(--color-background);
}
