:root {
  --caption-background-direction: to top;
  --caption-word-duration: 900ms;
  --caption-word-delay: 100ms;
  --caption-hint-delay: 600ms;
  --caption-buttons-delay: 100ms;

  @include app.debug('fast', &) {
    --caption-word-duration: 0ms;
    --caption-word-delay: 0ms;
    --caption-hint-delay: 0ms;
    --caption-buttons-delay: 0ms;
  }
}

@keyframes caption-word {
  from {
    opacity: 0;
    filter: blur(16px);
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
}

.caption {
  --tokens-length: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2);

  text-align: center;

  background: smooth-gradient(var(--caption-background-direction), 0 0 0, transparent);

  &[data-position='top'] {
    --caption-background-direction: to bottom;
    padding-block: var(--space-2);
  }

  &[data-position='bottom'] {
    --caption-background-direction: to top;
    padding-top: var(--space-3);
  }

  &__text {
    @include font('caption');
    text-wrap: balance;
  }

  &__text > * {
    @include animations.use((animations.$float));
    --token-index: 0;
    --animation-float-amount: 100%;

    display: inline-block;
    white-space: pre;
    animation: caption-word var(--caption-word-duration) calc(var(--token-index) * var(--caption-word-delay)) var(--easing-ease-smooth) both;
  }

  &__hint {
    @include animations.use(
      animations.$fade-in,
      animations.$float
    );
  }

  .gamepad-row > * {
    @include animations.use(
      (
        preset: animations.$fade-in,
        delay: calc(var(--caption-buttons-delay) + (var(--tokens-length) + 1) * var(--caption-word-delay))
      )
    );
    @include animations.stagger(animations.$fade-in, 100ms, 3);
  }
}
