@import '@tooooools/ui/style';
@import '/style/reset';
@import '/style/fonts';
@import '/style/base';

:root {
  // Colors

  // SEE /app.config.js for --color-<NAME>
  --color-gray: #d9d9d9;
  --color-text: white;
  --color-background: black;

  // Spacing

  --space-0: 1vw;
  --space-1: 2vw;
  --space-2: 4vw;
  --space-3: 6vw;
  --space-gutter: var(--space-1);

  // Animations

  --easing: 600ms;
  --easing-fast: 300ms;
  --easing-slow: 6000ms;
  --easing-ease-back: cubic-bezier(0.35, 1.5, 0.65, 1);
  --easing-ease-smooth: cubic-bezier(0.25, 0.1, 0.25, 1);
  --easing-ease-accelerate: cubic-bezier(0.9, 0, 0.5, 0.9);

  // Fonts

  --body-font-family: inter, system-ui, sans-serif;
  --body-font-size: 3vw;

  --ui-font-family: var(--body-font-family);
  --ui-font-weight: 600;
  --ui-font-size: 1.2vw;
  --ui-height: auto;
  --ui-line-height: 1.1;

  --ui-big-font-size: 2.2vw;
  --ui-big-font-weight: 480;
  --ui-big-line-height: 1;

  --caption-font-family: cabinet;
  --caption-font-size: 4vw;
  --caption-line-height: 0.9;
  --caption-font-weight: 500;

  @include app.debug('fast', &) {
    --easing: 0ms;
    --easing-fast: 0ms;
    --easing-slow: 0ms;
  }
}

[class^='ui-button-'] {
  @include font('ui');
  @include easing((background, box-shadow, transform, outline-offset), var(--easing-fast), var(--easing-ease-back));

  --color: var(--color-gray);
  --ui-color-text: black;
  --ui-padding-container: 0.5em 0.5em;
  --ui-color-accent: var(--color);
  --ui-color-accent-contrast: var(--ui-color-text);
  --ui-color-background: var(--color);
  --ui-border-radius: 4px;

  outline-offset: 0;
  box-shadow: 0 0 0 var(--color);

  &:hover,
  &.is-selected {
    --ui-color-background: var(--color);
    z-index: 1;
    outline: 2px solid var(--color);
    outline-offset: 2px;
    transform:
      scale(1.1)
      rotate(calc(3deg * cos(pi + var(--gamepad-row-nindex) * 3.14)))
      translateY(-10%)
    ;
    box-shadow: 0 0 4vw var(--color);
  }
}

[data-color='yellow'] { --color: var(--color-yellow); }
[data-color='green'] { --color: var(--color-green); }
[data-color='blue'] { --color: var(--color-blue); }
[data-color='red'] { --color: var(--color-red); }
[data-color='pink'] { --color: var(--color-pink); }
