@import '@tooooools/ui/style';
@import '/style/reset';
@import '/style/animations';
@import '/style/fonts';
@import '/style/base';

:root {
  --color-text: white;
  --color-background: black;

  --space-1: 2rem;
  --space-gutter: var(--space-1);

  --ui-font-size: 2rem;
  --ui-font-family: system-ui, sans-serif;

  --body-font-size: 3rem;
  --body-font-family: system-ui, sans-serif;
}
